#background{
  border:2px solid red;
  width:768px;
  height:10000px;
  margin:0 auto;
  position:relative;
  /*background-image:url("../images/paper.png");*/

}
#heading{
width:768px;
height:500px;
position:absolute;
z-index:10;
}


/*tripping rin..runs across screen*/

#rinrin{

}
#shroom{
  width:250px;
  height:300px;
position:absolute;
z-index:3;
top:700px;
left:0px;
}


#ladyRat{
  position:absolute;
  left:100px;
  top:1200px;
}
/*/////test*/
#icon {width:300px;
  border:1px solid black;
  position:absolute;
  top:1500px;
  left:50px;
}
